/* reset */
* {margin: 0; padding: 0; font-family: 'Lato';}
li {list-style: none;}
a {text-decoration: none;}

/* nav */
#nav {position: fixed; left: 0; top: 0; width: 100%; height: 60px; z-index: 1000; background: rgba(255,255,255,0.3); transition: all 0.3s ease;}
#nav.on {position: fixed; top: -60px;}
#nav h1 {float: left; color: #fff; font-size: 40px; padding: 5px 5px 5px 15px; font-family: 'Abel';}

/* dot */
#dot {position: fixed; right: 20px; top: 50%; transform: translatey(-50%);}
#dot li {
    position:relative;
    width: 12px; height: 12px;
    margin: 15px 10px;
}
#dot li a {
    position: absolute; left: 0; top: 0;
    background: rgba(255,255,255,0.3);
    width: 100%; height: 100%;
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
}
#dot li a:after {
    content: '';
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px #fff;
    transform: scale(3);
    opacity: 0; visibility: hidden;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0s 0.3s;
}
#dot li.active a:after {
    opacity: 1; visibility: visible;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#dot li a em {display: none;}

/* contents */
#contents {text-align: center; color: #fff;}
#contents > div {height: 100vh; line-height: 100vh;}
#contents > div h2 {font-size: 90px; font-weight: 100; text-transform: uppercase;}
#contents > div h2 strong {font-weight: 700; font-style: italic;}

/* section */
#section1 {background: radial-gradient(ellipse farthest-corner at center bottom, #90dfff, #8a9bff);}
#section2 {background: radial-gradient(ellipse farthest-corner at center bottom, #ffc3f0, #ff7cbd);}
#section3 {background: radial-gradient(ellipse farthest-corner at center bottom, #ffee75, #ff8930);}
#section4 {background: radial-gradient(ellipse farthest-corner at center bottom, #fd848e, #d8455d);}
#section5 {background: radial-gradient(ellipse farthest-corner at center bottom, #c37af3, #8c22ac);}
#section6 {background: radial-gradient(ellipse farthest-corner at center bottom, #9de7a9, #2ec55b);}


/* mediaquery */
@media (max-width: 1080px){
    #contents > div h2 {font-size: 6vw;}
}


